/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CUTADAPT_1' {
        ext.args  = { params.cutadapt_minlength ? "--minimum-length ${params.cutadapt_minlength.toInteger() + 9}"
                    : "--minimum-length 29" }
        ext.args2 = { params.lace_linker ? "-a $params.lace_linker" : "-a TCTCCTTGCATAATCACCAACC" }
    }

    withName: 'UMI_TOOLS' {
        ext.args = { params.bc_pattern? "--bc-pattern=$params.bc_pattern"
                    : "--bc-pattern='^(?P<umi_1>.{4}).+(?P<umi_2>.{4})$'"}
        ext.args2 = { params.umitools_method? "--method=$params.umitools_method" 
                    : "--method=regex" }
    }

}
